qiskit==1.1.0
qiskit-ibm-runtime==0.30.0
qiskit_aer==0.15.1
qiskit-addon-cutting==0.9.0
cotengra==0.6.2
numba==0.59.1
quimb==1.8.1
joblib==1.4.0
tqdm
networkx
numpy
Pillow==10.3.0
pylatexenc==2.10
matplotlib==3.8.4
seaborn